<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>AIT Final Proj</title>
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:100,300,400" rel="stylesheet">
        <link rel="stylesheet" href="/base.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/"><div class="navbar-item">Home</div></a>
            {{#if user}}
                <a href="/profile"><div class="navbar-item">Profile</div></a>
                <a href="/logout"><div class="navbar-item">Logout</div></a>
            {{else}}
                <a href="/login"><div class="navbar-item">Login</div></a>
                <a href="/signup"><div class="navbar-item">Signup</div></a>
            {{/if}}
        </div>
        {{{body}}}
    </body>
</html>
