<div class="background-container">
    <div class="input-card">
        <form action="/login" method="post">
            <div>
                <h3>Log In</h3>
                <input type="text" name="username" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit" value="Log In"/>
            </div>
        </form>
    </div>
</div>
