<div class="background-container">
    <div class="centered-container">
        <h1>Hello {{user.local.username}}!</h1>
        <a href="/new-trade"><button class="profile-submit" type="submit">Submit a new trade!</button></a>

        <p class="subheader">Below are your trades.</p>

    </div>
    {{> trade-table}}
</div>
